
@font-face {
  font-family: COCOGOOSE;
  src: url('fonts/Cocogoose_trial.otf');
}

@font-face {
  font-family: Lato;
  src: url('fonts/Lato-Regular.ttf');
  font-weight: 600;
}

h1 {
  font-family: Lato, sans-serif;
}

.red {
  display: flex;
  justify-content: center;
}

table tr td {
  font-size: 0.6rem;
}

.select_mobile {
  font-size: 0.55rem;
  border: 1px solid rgb(211, 182, 182);
  padding: 2%;
  font-family: Lato, sans-serif;
}

.menu_thur {
  display: flex;
  justify-content: center;
  font-family: Lato, sans-serif;
}

.top_box {
  width: 70%;
  height: 3vh;
  border: 1px solid rgb(214, 194, 194);
  background-color: #f6f6f6;
  font-size: 0.7rem;
  line-height: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-top: 5%;
  font-family: Lato, sans-serif;
}

.bottom_box {
  width: 70%;
  height: 10vh;
  border: 1px solid rgb(214, 194, 194);
  background-color: white;
  margin-left: 15%;
  font-family: Lato, sans-serif;
}

.submit {
  margin-left: 55%;
  margin-top: 6%;
  font-family: Lato, sans-serif;
}

table th {
  background-color: #f7f7f7;
}

.logoo {
  display: flex;
  justify-content: center;
  font-family: COCOGOOSE, sans-serif;
}

.lato {
  font-family: Lato, sans-serif;
}

@media (min-width: 768px) {
  .red {
    display: none;
  }

  table tr td {
    font-size: 1.2rem;
    font-family: Lato, sans-serif;
  }

  .select {
    margin-left: 2px;
    width: 200px;
    font-family: Lato, sans-serif;
  }

  .select_ticket {
    font-size: 0.55rem;
    border: 1px solid rgb(211, 182, 182);
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: Lato, sans-serif;
  }

  .top {
    margin-top: 15%;
  }

  .redd {
    color: red;
  }

  form {
    width: 80%;
    padding-left: 24%;
    font-family: Lato, sans-serif;
  }

  .submit {
    margin-left: 220px;
  }
}

@media (min-width: 1024px) {
  .top {
    margin-top: 10%;
  }

  form {
    width: 75%;
    padding-left: 30%;
  }

  .select_ticket {
    font-size: 0.8rem;
    border: 1px solid rgb(211, 182, 182);
    margin-bottom: 2%;
  }

  .top_box {
    margin-right: 75px;
  }

  .bottom_box {
    margin-right: 75px;
  }

  .submit {
    margin-left: 310px;
  }
}

@media (min-width: 1600px) {
  .submit {
    margin-left: 430px;
  }
}
